<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>{{title}}</title>
<meta content="{{keywords}}" name="keywords" />
<meta content="{{description}}" name="description" />
<meta content="en" http-equiv="Content-Language" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="canonical" href="https://www.maxgoldhouse.com/{{url_en}}" />
<link rel="alternate" hreflang="en" href="https://www.maxgoldhouse.com/{{url_en}}" />
<link rel="alternate" hreflang="de" href="http://de.maxgoldhouse.com/{{url_de}}" />
<link rel="alternate" hreflang="fr" href="http://fr.maxgoldhouse.com/{{url_fr}}" />
<link rel="alternate" hreflang="nl" href="http://nl.maxgoldhouse.com/{{url_nl}}" />
<link rel="stylesheet" href="/css/mgh.css">

<link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="account_nav" role="navigation">
<div class="navbar-header">
<button class="navbar-toggle" data-target=".account-nav-collapse" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/" id="navbar_logo">
<img alt="MaxGoldHouse Logotype." src="/img/mghlogo.png" />
</a>
</div>
<div class="collapse navbar-collapse account-nav-collapse">
<ul class="nav navbar-nav navbar-left">
<li class=""><a href="index.html">For Sale</a></li>
<li><a href="costa-blanca-long-term-rental-property-0.html">Long Term Rental</a></li>
<li><a href="costa-blanca-holiday-rental-property-0.html">Holiday Rental</a></li>
<li><a href="">Contact</a></li>
</ul>
<ul class='nav navbar-nav navbar-right lingo'>
<li><a href="https://www.maxgoldhouse.com/{{url_en}}"><img src="img/EN.png"/> English</a></li>
<li><a href="http://fr.maxgoldhouse.com/{{url_fr}}"> <img src="img/FR.png"/> <img src="img/B.png"/> français</a></li>
<li><a href="http://nl.maxgoldhouse.com/{{url_nl}}"><img src="img/NL.png"/> <img src="img/B.png"/> Nederlands</a></li>
<li><a href="http://de.maxgoldhouse.com/{{url_de}}"><img src="img/DE.png"/> <img src="img/AT.png"/> Deutsch</a></li>
<!--<li><a href="{{url_en}}"><img src="img/EN.png"/> English</a></li>-->
</ul>

</div>
</div>
<div class="row" id="container">
<div class="col-md-6 col-md-push-3" id="content">


<h1 class="h6">{{h1}}</h1>

<div class="xhidden-xs">
<!-- START PROPERTY -->
{% for item in props %}
  <div class="property">
    <div class="panel panel-default" id="property_box_{{ item['propid'] }}">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="pull-right">{{ item['price'] }} {{item['frequency']}} <span class="price_gbp"></span></span><a href="{{ item['propurl'] }}">{{item['locationdetail']}} {{item['proptype']}} for {{item['saleorrent']}} ref: {{item['propref']}}</a></h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <a class="btn-block thumbnail_link" href="{{ item['propurl'] }}">
{% if item['underoffersold'] == '2' %} <div class="sold soldlist">S O L D</div> {% elif item['underoffersold'] == '3' %} <div class="rented rentedlist">R E N T E D</div> {% elif item['underoffersold'] == '1' %} <div class="stc stclist">U N D E R  O F F E R </div> {% endif %}
            <img alt="{{item['locationdetail']}} {{item['proptype']}}: {{item['locationdetail']}} {{item['proptype']}} for {{item['saleorrent']}} " class="img-thumbnail property_thumbnail" src="{{item['img']}}"></a>
          </div>

          <div class="col-sm-7 col-xs-12">
            <div class="details">
              <div class="amenities">
                <h2 class="h5">{{item['beds']}} beds | {{item['baths']}} baths</h2>
              </div>
{% if item['mp'] == 'showmortgage' %}
<div><strong>{{item['deposit']}} <span class="price_gbp"></span></strong> deposit then <strong>{{item['mp']}} <span class="price_gbp"></span></strong> per month on 15 year term.</div>
{% endif %}
              <p class="description">{{item['description']}}...</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="favlink" data-remote="true" data-shortlist="{{ item['propid'] }}"></div>
          </div>

          <div class="col-xs-6">
            <div class="text-right">
             <div><a href="{{item['propurl']}}"<button class="btn btn-warning">View</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- END PROPERTY -->
<!-- <div style="text-align: center;">
<a href="{{prevpage}}"><button class="btn btn-warning">Previous Page</button></a>
<a href="{{nextpage}}"><button class="btn btn-warning">Next Page</button></a>
</div> -->
</div>

<div class="hidden-xs clearfix">
<div class="panel panel-default" id="real_text">
  <div class="panel-heading">
    <h2 class="panel-title">

        Bottom Panel

    </h2>
  </div>
  <div class="panel-body">

</div>
</div>
</div>

</div>
<div class="col-md-3 col-md-pull-6" id="subnav">
<div class="panel panel-default" id="search">
  <div class="panel-heading">
    <h3 class="panel-title">

        Property search

    </h3>
  </div>
<div class="panel-body">
<h5>SEARCH MOST POPULAR PLACES</h5>
<ul>
<a targ="popular/top6" href="index.html"><li>Top Six Offers</li></a>
<a targ="popular/OrihuelaCosta" href="orihuela-costa-property-south-costa-blanca-0.html"><li>Orihuela Costa</li></a>
<a targ="popular/Villamartin" href="villamartin-property-south-costa-blanca-0.html"><li>Villamartin</li></a>
<a targ="popular/PlayaFlamenca" href="playa-flamenca-property-south-costa-blanca-0.html"><li>Playa Flamenca</li></a>
<a targ="popular/CaboRiog" href="cabo-roig-property-south-costa-blanca-0.html"><li>Cabo Roig</li></a>
<a targ="popular/Guardamar" href="guardamar-del-segura-property-south-costa-blanca-0.html"><li>Guardamar del Segura</li></a>
<a targ="popular/Quesada" href="quesada-property-south-costa-blanca-0.html"><li>Ciudad Quesada</li></a>
<a targ="popular/LaZenia" href="la-zenia-property-south-costa-blanca-0.html"><li>La Zenia</li></a>
<a targ="popular/LosBalcones" href="los-balcones-property-south-costa-blanca-0.html"><li>Los Balcones</li></a>
<a targ="popular/PuntaPrima" href="punta-prima-property-south-costa-blanca-0.html"><li>Punta Prima</li></a>
</ul>
<h5>SEARCH BY PRICE</h5>
<ul>
<a targ="/budget/1" href="costa-blanca-property-for-less-than-100000-0.html"><li>up to &euro;100,000&nbsp;&nbsp;</li></a>
<a targ="/budget/2" href="costa-blanca-property-from-100000-to-200000-0.html"><li>&euro;100,000-&euro;200,000&nbsp;&nbsp;</li></a>
<a targ="/budget/3" href="costa-blanca-property-from-200000-to-300000-0.html"><li>&euro;200,000-&euro;300,000&nbsp;&nbsp;</li></a>
<a targ="/budget/4" href="costa-blanca-property-from-300000-to-400000-0.html"><li>&euro;300,000-&euro;400,000&nbsp;&nbsp;</li></a>
<a targ="/budget/5" href="costa-blanca-property-from-400000-to-500000-0.html"><li>&euro;400,000-&euro;500,000&nbsp;&nbsp;</li></a>
<a targ="/budget/6" href="costa-blanca-property-from-500000-to-600000-0.html"><li>&euro;500,000-&euro;600,000&nbsp;&nbsp;</li></a>
<a targ="/budget/7" href="costa-blanca-property-from-600000-to-700000-0.html"><li>&euro;600,000-&euro;700,000&nbsp;&nbsp;</li></a>
<a targ="/budget/8" href="costa-blanca-property-from-700000-to-800000-0.html"><li>&euro;700,000-&euro;800,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9" href="costa-blanca-property-from-800000-to-900000-0.html"><li>&euro;800,000-&euro;900,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9plus" href="costa-blanca-property-from-900000-0.html"><li>&nbsp;&nbsp;&euro;900,000 +&nbsp;&nbsp;</li></a>
</ul>
<h5>SEARCH BY PROPERTY TYPE</h5>
<ul>
<a targ="Type/Apartment" href="apartments-for-sale-costa-blanca-south-0.html"><li>Apartment</li></a>
<a targ="Type/Townhouse" href="townhouses-for-sale-costa-blanca-south-0.html"><li>Townhouse</li></a>
<a targ="Type/Semi-Detached-Villa" href="semidetached-villas-for-sale-costa-blanca-south-0.html"><li>Semi Detached Villa</li></a>
<a targ="Type/Detached-Villa" href="villas-for-sale-costa-blanca-south-0.html"><li>Detached Villa</li></a>
<a targ="Type/Quadhouse" href="quadhouses-for-sale-costa-blanca-south-0.html"><li>Quadhouse</li></a>
<a targ="Type/Fincas" href="fincas-and-country-homes-for-sale-costa-blanca-south-0.html"><li>Fincas and Rural</li></a>
<a targ="Type/Beachfront" href="beach-property-south-costa-blanca-0.html"><li>Beachfront</li></a>
<a targ="Type/Golf" href="golf-property-south-costa-blanca-0.html"><li>Golf Property</li></a>
<a targ="Type/business" href="costa-blanca-commercial-property-0.html"><li>Bar, Restaurant and Business</li></a>
<a targ="Type/KeyReady" href="key-ready-homes-costa-blanca-south-0.html"><li>Key Ready and New</li></a>
<a targ="Type/Penthouse" href="penthouse-apartments-south-costa-blanca-0.html"><li>Penthouse</li></a>
<a targ="Type/Luxury" href="luxury-property-south-costa-blanca-0.html"><li>Luxury Property</li></a>
</ul>


</div>
</div>



</div>
<!--</div> -->

<div class="col-md-3" id="sidebar">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="title_acts_as_h3">
        Contact MaxGoldHouse
      </span>
    </h3>
  </div>
  <div class="panel-body">
<div class="contact-text"><b>Sales Director</b><br>Monica Steiger<br> <a href="mailto:monica@maxgoldhouse.com">monica@maxgoldhouse.com</a><br><img class="tight" src="img/handy.jpg"> +34 649 867 518</div>
<div class="contact-text"><b>Admin Director</b><br>Manfred Ohl<br><a href="mailto:manfred@maxgoldhouse.com">manfred@maxgoldhouse.com</a><br><img class="tight" src="img/handy.jpg"> +34 608 826 850 </div>
<div class="contact-text"><b>Office</b> <br>Centro Comercial Rioja No. 45 - Villamartin Golf<br>Calle Magallanes / corner Calle Manuel de Falla s/n <br>03189 Orihuela  (Alicante)<br><img class="tight" src="img/phone.jpg">: +34 966 765 497<br/>
<a target="_blank" href="https://maps.google.co.uk/maps/ms?msid=215955433594709352234.0004d407c63dea6517858&amp;msa=0&amp;ll=37.93819,-0.753486&amp;spn=0.014622,0.027874&amp;iwloc=0004d407c9d5045bb72fc"><img src="//lh4.googleusercontent.com/-jLG-LJ7kFm4/UQFavzTfm3I/AAAAAAAAFCQ/Z_26eqEyAd0/s40/showmap.jpg" style="border:none;padding:0px;margin:0px;" title="See office location on Google maps"></a>
</div>

</div>
</div>

</div>
</div>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--[if lte IE 9]>
<script src="/js/jquery.html5-placeholder-shim.js" type="text/javascript"></script>
<![endif]-->
<script src="/js/fx.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-140979-2', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "url" : "https://www.maxgoldhouse.com",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+34 966 765 497",
      "contactType" : "customer support"
    },
    { "@type" : "ContactPoint",
      "telephone" : "+44 114 299 8082",
      "contactType" : "customer support",
      "areaServed":"GB"
    } ] }
</script>
</body>
</html>
