<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{beds}} {{chabresingplur}} {{proptype}} {{saleorrent}} in {{locationdetail}}</title>
<meta content="{{beds}} bed {{proptype}} {{saleorrent}} in {{locationdetail}} , {{province}}, Spain" name="description" />
<link rel="alternate" hreflang="en" href="https://www.maxgoldhouse.com{{propurl_en}}" />
<link rel="alternate" hreflang="de" href="http://de.maxgoldhouse.com{{propurl_de}}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<script type="text/javascript"></script>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/mgh.css">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--[if lte IE 9]>
<script src="/js/jquery.html5-placeholder-shim.js" type="text/javascript"></script>
<![endif]-->
<link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="account_nav" role="navigation">
<div class="navbar-header">
<button class="navbar-toggle" data-target=".account-nav-collapse" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/" id="navbar_logo">
<img alt="MaxGoldHouse Logotype." src="/img/mghlogo.png" />
</a>
</div>
<div class="collapse navbar-collapse account-nav-collapse">
  <ul class="nav navbar-nav navbar-left">
  <li class=""><a href="index.html">&Agrave; vendre</a></li>
  <li><a href="Propriete-a-louer-pour-long-terme-Costa-Blanca-Sud-0.html">&Agrave; louer</a></li>
  <li><a href="Maisons-de-vacances-a-louer-Costa-Blanca-Sud-0.html">Vacances</a></li>
  <li><a href="">Contactez nous</a></li>
  </ul>
  <ul class='nav navbar-nav navbar-right lingo'>
    <li><a href="https://www.maxgoldhouse.com{{propurl_en}}"><img src="img/EN.png"/> English</a></li>
    <li><a href="http://fr.maxgoldhouse.com{{propurl_fr}}"> <img src="img/FR.png"/> <img src="img/B.png"/> français</a></li>
    <li><a href="http://nl.maxgoldhouse.com{{propurl_nl}}"><img src="img/NL.png"/> <img src="img/B.png"/> Nederlands</a></li>
    <li><a href="http://de.maxgoldhouse.com{{propurl_de}}"><img src="img/DE.png"/> <img src="img/AT.png"/> Deutsch</a></li>
  </ul>

</div>
</div>

<div class="container-fluid" id="container">
<div class="row">
<div class="col-md-8 col-md-push-3" id="content">

<script type="text/javascript">
//<![CDATA[
      document.cookie = "cookiesenabled=yes";
      if (document.cookie.indexOf("cookiesenabled=") > -1) {
        //new jQuery.ajax('/property/hit_counter/2604919', { type: 'put' });
      }
//]]>
</script>
<div class="panel panel-default" id="property_box">
<div class="panel-heading">
<a name="top">
<h1 class="panel-title">
<div class="pull-right"> {{price}} {{frequency}}</div>
{{locationdetail}} - {{proptype}} {{saleorrent}} ref: {{propref}}
</h1>
</a>
</div>
<div class="panel-body">
<div class="row">
<div class="col-sm-8" id="slideshow">
<div id="projector">
{% if underoffersold == '2' %} <div class="sold">VENDU</div> {% elif underoffersold == '3' %} <div class="rented">LOUE</div> {% elif underoffersold == '1' %} <div class="stc">SOUS COMPROMIS</div> {% endif %}
<img showing="1" id="show" src="{{firstimg}}"/><br/>

<div style="display: inline">
<div id="mando"><span title="previous image" class="back"><<</span><span title="next image" class="forward">>></span><span title="start the slideshow" class="start">></span><span title="pause the slideshow" class="pause">&nbsp;||</span></div>
{% for img in images %}
  {% if loop.first %}
    <img slide="{{img['slide']}}" class="thumb current" src="{{img['src']}}"/>
  {% else %}
    <img slide="{{img['slide']}}" class="thumb" src="{{img['src']}}"/>
  {% endif %}
{% endfor %}
</div>
</div>

</div>
<div class="col-sm-4" id="enquiry_right">
<div class="enquiry_container">
<h2 class="lead">Demandez de l'information</h2>

<form accept-charset="UTF-8" action="" class="form-horizontal new_enquiry" id="new_enquiry" method=""><div class="form-group"><div class="col-sm-12"><textarea class=" form-control" cols="40" id="message" name="message" placeholder="S'il vous plaît, envoyez-moi plus d'informations sur cette propriété" rows="4"></textarea></div></div>
<div class="form-group"><div class="col-sm-12"><input class=" form-control" id="name" name="name" placeholder="Votre nom" size="30" type="text" required></div></div>
<div class="form-group"><div class="col-sm-12"><input class=" form-control" id="email" name="email" placeholder="Votre adresse email" size="30" type="email" required></div></div>
<div class="form-group"><div class="col-sm-12"><div><input id="about_similar" name="include similar" type="checkbox" value="1"> inclure les infos de propriétés similaires</div></div></div>
<button class="btn btn-warning" id="enquiry_submit" type="submit">
Envoyer la demande
</button>
<span class="spinner fa fa-spinner fa-spin" style="display:none"></span>
<input type="hidden" name="cc" id="cc" value="frleads@maxgoldhouse.com">
<input type="hidden" name="property" id="property" value="<a href='fr.maxgoldhouse.com{{propurl_de}}'>{{propref}}</a>">
<input type="hidden" name="photo" id="photo" value="<img src='https:{{firstimg|replace("s0", "s400")}}'/>">
<input id="source" name="formname" type="hidden" value="MGH Property Enquiry {{propref}}">
</form>

</div>
</div>
</div>
<div id="property_detail">
<div id="features"><div class="row">
<div class="col-xs-12">
<p class="reference">
Prijs : <strong>{{price}} {{frequency}}</strong> Ref : <strong>{{propref}}</strong>
</p>
</div>
</div>
<div class="row features">
<div class="col-xs-12">
<ul class="list-inline">
<li class="feature"><b>{{beds}}</b> {{chabresingplur}}</li>
<li class="feature"><b>{{baths}}</b> {{bainsingplur}}</li>
<li class="feature"><b>{{livingarea}} m<sup>2</sup></b> surface habitable</li>
<li class="feature"><b>{{plotsize}} m<sup>2</sup></b> surface du terrain</li>
<li class="feature">piscine <b>{{pool}}</b></li>
</ul>
</div>
</div>
</div>
<p id="price_history">
</p>
<div id="prop-description">{{propdescription}}  </div>
</div>
</div>
<div class="panel-footer">
<div class="row">
<div class="col-xs-12 more_info_link">
<a class="btn btn-warning" href="#" onclick="$('#message').focus(); return false;">Envoyer une demande</a>
<span class="pull-right" data-remote="true" data-shortlist="{{propid}}"></span>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">

        <strong>Plus de propriétés espagnoles à vendre</strong>

    </h2>
  </div>
  <div class="panel-body"><div id="agent"><div class="media">
<div class="pull-left">
<img alt="{{propid}}" class="thumbnail media-object" src="/img/mghlogo-dark.png" />
</div>
<div class="media-body">
<div id="agent_browse_links">

  <div class="panel-body"><p class="h5">Chercher par type de propriété</p>
  <ul>
    <a targ="Type/Apartment" href="Appartements-a-vendre-Costa-Blanca-Sud-0.html"><li>Appartements</li></a>
    <a targ="Type/Townhouse" href="Maisons-mitoyennes-Costa-Blanca-Sud--0.html"><li>Maisons mitoyennes</li></a>
    <a targ="Type/Semi-Detached-Villa" href="Villas-jumelees-Costa-Blanca-Sud-0.html"><li>Villas jumel&eacute;es</li></a>
    <a targ="Type/Detached-Villa" href="Villas-Costa-Blanca-Sud-0.html"><li>Villas Individuelles</li></a>
    <a targ="Type/Quadhouse" href="Maisons-mitoyennes-quatre-Costa-Blanca-Sud-0.html"><li>Maisons mitoyennes (quatre sous un m&ecirc;me toit)</li></a>
    <a targ="Type/Fincas" href="Fincas-et-maisons-de-campagne-Costa-Blanca-Sud-0.html"><li>Fincas et maisons de campagne</li></a>
    <a targ="Type/Beachfront" href="Propriete-sur-la-plage-Costa-Blanca-Sud-0.html"><li>propri&eacute;t&eacute; plage</li></a>
    <a targ="Type/Golf" href="Propriete-sur-le-golf-resort-Costa-Blanca-Sud-0.html"><li>Propri&eacute;t&eacute; golf</li></a>
    <a targ="Type/business" href="Batiments-commerciaux-Costa-Blanca-Sud-0.html"><li>B&acirc;timents commerciaux</li></a>
    <a targ="Type/KeyReady" href="nouvelles-constructions-Costa-Blanca-Sud-0.html"><li>Maisons clé sur porte</li></a>
    <a targ="Type/Penthouse" href="Appartements-a-deux-etages-Costa-Blanca-Sud-0.html"><li>Penthouses</li></a>
    <a targ="Type/Luxury" href="Propriete-de-luxe-a-vendre-Costa-Blanca-Sud-0.html"><li>Propri&eacute;t&eacute; de luxe</li></a>
  </ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
<div class="col-md-3 col-md-pull-8" id="subnav"><div class="panel" id="back-to-search-results">
<a class="btn btn-block btn-warning" href="javascript:history.back();">
<i class="fa fa-arrow-left"></i>
page précédente
</a>
</div>
<div class="panel panel-default" id="search">
  <div class="panel-heading">
    <h3 class="panel-title">
        Chercher fr.maxgoldhouse.com
    </h3>
  </div>
<div class="panel-body">
<h5>Chercher par prix</h5>
<ul>
<a targ="/budget/1" href="Propriete-a-Costa-Blanca-jusqu-a-100000-euro-0.html"><li>jusqu'à &euro;100,000&nbsp;&nbsp;</li></a>
<a targ="/budget/2" href="Propriete-a-Costa-Blanca-de-100000-euro-a-200000-euro-0.html"><li>&euro;100,000-&euro;200,000&nbsp;&nbsp;</li></a>
<a targ="/budget/3" href="Propriete-a-Costa-Blanca-de-200000-euro-a-300000-euro-0.html"><li>&euro;200,000-&euro;300,000&nbsp;&nbsp;</li></a>
<a targ="/budget/4" href="Propriete-a-Costa-Blanca-de-300000-euro-a-400000-euro-0.html"><li>&euro;300,000-&euro;400,000&nbsp;&nbsp;</li></a>
<a targ="/budget/5" href="Propriete-a-Costa-Blanca-de-400000-euro-a-500000-euro-0.html"><li>&euro;400,000-&euro;500,000&nbsp;&nbsp;</li></a>
<a targ="/budget/6" href="Propriete-a-Costa-Blanca-de-500000-euro-a-600000-euro-0.html"><li>&euro;500,000-&euro;600,000&nbsp;&nbsp;</li></a>
<a targ="/budget/7" href="Propriete-a-Costa-Blanca-de-600000-euro-a-700000-euro-0.html"><li>&euro;600,000-&euro;700,000&nbsp;&nbsp;</li></a>
<a targ="/budget/8" href="Propriete-a-Costa-Blanca-de-700000-euro-a-800000-euro-0.html"><li>&euro;700,000-&euro;800,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9" href="Propriete-a-Costa-Blanca-de-800000-euro-a-900000-euro-0.html"><li>&euro;800,000-&euro;900,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9plus" href="Propriete-a-Costa-Blanca-a-partir-de-900000-euro-0.html"><li>&nbsp;&nbsp;&euro;900,000 +&nbsp;&nbsp;</li></a>
</ul>
</div>

<div class="panel-body"><p class="h5">Chercher par type de propriété</p>
<ul>
<a targ="Type/Apartment" href="Appartements-a-vendre-Costa-Blanca-Sud-0.html"><li>Appartements</li></a>
<a targ="Type/Townhouse" href="Maisons-mitoyennes-Costa-Blanca-Sud-0.html"><li>Maisons mitoyennes</li></a>
<a targ="Type/Semi-Detached-Villa" href="Villas-jumelees-Costa-Blanca-Sud-0.html"><li>Villas jumel&eacute;es</li></a>
<a targ="Type/Detached-Villa" href="Villas-Costa-Blanca-Sud-0.html"><li>Villas Individuelles</li></a>
<a targ="Type/Quadhouse" href="Maisons-mitoyennes-quatre-Costa-Blanca-Sud-0.html"><li>Maisons mitoyennes (quatre sous un m&ecirc;me toit)</li></a>
<a targ="Type/Fincas" href="Fincas-et-maisons-de-campagne-Costa-Blanca-Sud-0.html"><li>Fincas et maisons de campagne</li></a>
<a targ="Type/Beachfront" href="Propriete-sur-la-plage-Costa-Blanca-Sud-0.html"><li>propri&eacute;t&eacute; plage</li></a>
<a targ="Type/Golf" href="Propriete-sur-le-golf-resort-Costa-Blanca-Sud-0.html"><li>Propri&eacute;t&eacute; golf</li></a>
<a targ="Type/business" href="Batiments-commerciaux-Costa-Blanca-Sud-0.html"><li>B&acirc;timents commerciaux</li></a>
<a targ="Type/KeyReady" href="nouvelles-constructions-Costa-Blanca-Sud-0.html"><li>Maisons clé sur porte</li></a>
<a targ="Type/Penthouse" href="Appartements-a-deux-etages-Costa-Blanca-Sud-0.html"><li>Penthouses</li></a>
<a targ="Type/Luxury" href="Propriete-de-luxe-a-vendre-Costa-Blanca-Sud-0.html"><li>Propri&eacute;t&eacute; de luxe</li></a>
</ul>
<p class="h5">Chercher par nom de lieu</p>
<ul>
<a targ="popular/top6" href="index.html"><li>Offres sp&eacute;ciales</li></a>
<a targ="popular/OrihuelaCosta" href="Propriete-a-vendre-a-Orihuela-Costa-Costa-Blanca-Sud-0.html"><li>Orihuela Costa</li></a>
<a targ="popular/Villamartin" href="Propriete-a-vendre-a-Villamartin-Costa-Blanca-Sud-0.html"><li>Villamartin</li></a>
<a targ="popular/PlayaFlamenca" href="Propriete-a-vendre-a-Playa-Flamenca-Costa-Blanca-Sud-0.html"><li>Playa Flamenca</li></a>
<a targ="popular/CaboRiog" href="Propriete-a-vendre-a-Cabo-Roig-Costa-Blanca-Sud-0.html"><li>Cabo Roig</li></a>
<a targ="popular/Guardamar" href="Propriete-a-vendre-a-Guardamar-del-Segura-Costa-Blanca-Sud-0.html"><li>Guardamar del Segura</li></a>
<a targ="popular/Quesada" href="Propriete-a-vendre-a-Quesada-Costa-Blanca-Sud-0.html"><li>Ciudad Quesada</li></a>
<a targ="popular/LaZenia" href="Propriete-a-vendre-a-La-ZeniaCosta-Blanca-Sud-0.html"><li>La Zenia</li></a>
<a targ="popular/LosBalcones" href="Propriete-a-vendre-a-Los-Balcones-Costa-Blanca-Sud-0.html"><li>Los Balcones</li></a>
<a targ="popular/PuntaPrima" href="Propriete-a-vendre-a-Punta-Prima-Costa-Blanca-Sud-0.html"><li>Punta Prima</li></a>
</ul>
</div>
</div>
<div class="panel panel-default" id="local_information">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
<ul class="last">
<!--<li><a href="{{areamap}}">Map of This Place</a></li>
<li><a href="{{proptype}}.html">{{proptype}}</a></li>
<li><a href="{{locationdetail}}.html">More property in {{locationdetail}}</a></li>
<li><a href="{{prevpricerangepage}}">Cheaper property</a></li>
<li><a href="{{nextpricerangepage}}">More expensive property</a></li>
-->
</ul>
</div>
</div>

</div>
</div>
<div id="footer">
<div class="" id="bottom_nav">
<div class="xnavbar xnavbar-default">
<div class="xnav xnavbar-nav">
<a>Help</a>
<a>Support</a>
<a>About MaxGoldHouse</a>
</div>
</div>
</div>
<div class="disclaimer container">
</div>
<script src="/js/mgh.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-140979-11', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>
</div>
</body>
</html>
