<!DOCTYPE html>
<html lang="nl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{title}}</title>
<meta content="{{keywords}}" name="keywords" />
<meta content="{{description}}" name="description" />
<link rel="alternate" hreflang="en" href="https://www.maxgoldhouse.com/{{url_en}}" />
<link rel="alternate" hreflang="de" href="http://de.maxgoldhouse.com/{{url_de}}" />
<link rel="alternate" hreflang="fr" href="http://fr.maxgoldhouse.com/{{url_fr}}" />
<link rel="alternate" hreflang="nl" href="http://nl.maxgoldhouse.com/{{url_nl}}" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<script type="text/javascript"></script>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css">
<link rel="stylesheet" href="/css/mgh.css">
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--[if lte IE 9]>
<script src="/js/jquery.html5-placeholder-shim.js" type="text/javascript"></script>
<![endif]-->
<link rel="shortcut icon" href="/img/favicon.ico" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="account_nav" role="navigation">
<div class="navbar-header">
<button class="navbar-toggle" data-target=".account-nav-collapse" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/" id="navbar_logo">
<img alt="MaxGoldHouse Logotype." src="/img/mghlogo.png" />
</a>
</div>
<div class="collapse navbar-collapse account-nav-collapse">
  <ul class="nav navbar-nav navbar-left">
  <li class=""><a href="index.html">Te koop</a></li>
  <li><a href="Eigendom-te-huur-voor-lange-termijn-costa-blanca-zuid-0.html">Verhuur op lange termijn</a></li>
  <li><a href="Vakantieverhuur-costa-blanca-zuid-0.html">Vakantieverhuur</a></li>
  <li><a href="">Contact</a></li>
  </ul>
<ul class='nav navbar-nav navbar-right lingo'>
  <li><a href="https://www.maxgoldhouse.com/{{url_en}}"><img src="img/EN.png"/> English</a></li>
  <li><a href="http://fr.maxgoldhouse.com/{{url_fr}}"> <img src="img/FR.png"/> <img src="img/B.png"/> français</a></li>
  <li><a href="http://nl.maxgoldhouse.com/{{url_nl}}"><img src="img/NL.png"/> <img src="img/B.png"/> Nederlands</a></li>
  <li><a href="http://de.maxgoldhouse.com/{{url_de}}"><img src="img/DE.png"/> <img src="img/AT.png"/> Deutsch</a></li>
</ul>



</div>
</div>
<div class="row" id="container">
<div class="col-md-6 col-md-push-3" id="content">


<h1 class="h6" id="home">{{h1}}</h1>

<div class="xhidden-xs">
<!-- START PROPERTY -->
{% for item in props %}
  <div class="property">
    <div class="panel panel-default" id="property_box_{{ item['propid'] }}">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="pull-right">{{ item['price'] }} {{item['frequency']}}</span> <a href="{{ item['propurl'] }}">{{item['locationdetail']}} {{item['proptype']}} {{item['saleorrent']}} ref: {{item['propref']}}</a></h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-5 col-xs-12">
            <a class="btn-block thumbnail_link" href="{{ item['propurl'] }}">
            {% if item['underoffersold'] == '2' %} <div class="sold soldlist">VERKOCHT</div> {% elif item['underoffersold'] == '3' %} <div class="rented rentedlist">VERHUURD</div> {% elif item['underoffersold'] == '1' %} <div class="stc stclist">IN OPTIE</div> {% endif %}
            <img alt="{{item['locationdetail']}} {{item['proptype']}}: {{item['locationdetail']}} {{item['proptype']}} {{item['saleorrent']}}" class="img-thumbnail property_thumbnail" src="{{item['img']}}"></a>
          </div>

          <div class="col-sm-7 col-xs-12">
            <div class="details">
              <div class="amenities">
                <h2 class="h5">{{item['beds']}} | {{item['baths']}}</h2>
              </div>

              <p class="description">{{item['description']}}...</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <div class="favlink" data-remote="true" data-shortlist="{{ item['propid'] }}"></div>
          </div>

          <div class="col-xs-6">
            <div class="text-right">
             <div><a href="{{item['propurl']}}"<button class="btn btn-warning">Bekijk</button></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- END PROPERTY -->
<!--<div style="text-align: center;">
<a href="{{prevpage}}"><button class="btn btn-warning">Previous Page</button></a>
<a href="{{nextpage}}"><button class="btn btn-warning">Next Page</button></a>
</div>-->
</div>

<div class="hidden-xs clearfix">
<div class="panel panel-default" id="real_text">
  <div class="panel-heading">
    <h2 class="panel-title">

        Bottom Panel

    </h2>
  </div>
  <div class="panel-body">

</div>
</div>
</div>

</div>
<div class="col-md-3 col-md-pull-6" id="subnav">
<div class="panel panel-default" id="search">
  <div class="panel-heading">
    <h3 class="panel-title">
        zoeken nl.maxgoldhouse.com
    </h3>
  </div>
<div class="panel-body">
<h5>Zoeken op prijs</h5>
<ul>
<a targ="/budget/1" href="Eigendom-in-de-Costa-Blanca-tot-100000-euro-0.html"><li>Tot &euro;100,000&nbsp;&nbsp;</li></a>
<a targ="/budget/2" href="Eigendom-aan-de-Costa-Blanca-van-100000-tot-200000-euro-0.html"><li>&euro;100,000-&euro;200,000&nbsp;&nbsp;</li></a>
<a targ="/budget/3" href="Eigendom-aan-de-Costa-Blanca-van-200000-tot-300000-euro-0.html"><li>&euro;200,000-&euro;300,000&nbsp;&nbsp;</li></a>
<a targ="/budget/4" href="Eigendom-aan-de-Costa-Blanca-van-300000-tot-400000-euro-0.html"><li>&euro;300,000-&euro;400,000&nbsp;&nbsp;</li></a>
<a targ="/budget/5" href="Eigendom-aan-de-Costa-Blanca-van-400000-tot-500000-euro-0.html"><li>&euro;400,000-&euro;500,000&nbsp;&nbsp;</li></a>
<a targ="/budget/6" href="Eigendom-aan-de-Costa-Blanca-van-500000-tot-600000-euro-0.html"><li>&euro;500,000-&euro;600,000&nbsp;&nbsp;</li></a>
<a targ="/budget/7" href="Eigendom-aan-de-Costa-Blanca-van-600000-tot-700000-euro-0.html"><li>&euro;600,000-&euro;700,000&nbsp;&nbsp;</li></a>
<a targ="/budget/8" href="Eigendom-aan-de-Costa-Blanca-van-700000-tot-800000-euro-0.html"><li>&euro;700,000-&euro;800,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9" href="Eigendom-aan-de-Costa-Blanca-van-800000-tot-900000-euro-0.html"><li>&euro;800,000-&euro;900,000&nbsp;&nbsp;</li></a>
<a targ="/budget/9plus" href="Eigendom-aan-de-Costa-Blanca-vanaf-900000-euro-0.html"><li>&nbsp;&nbsp;&euro;900,000 +&nbsp;&nbsp;</li></a>
</ul>
</div>
<div class="panel-body"><p class="h5">Zoeken op woningtype</p>
<ul>
<a targ="Type/Apartment" href="Appartement-te-koop-costa-blanca-zuid-0.html"><li>Appartement</li></a>
<a targ="Type/Townhouse" href="Geschakelde-woningen-Costa-Blanca-Zuid-0.html"><li>Geschakelde woning</li></a>
<a targ="Type/Semi-Detached-Villa" href="Half-vrijstaande-villas-Costa-Blanca-Zuid-0.html"><li>half vrijstaande woning</li></a>
<a targ="Type/Detached-Villa" href="Villas-Costa-Blanca-Zuid-0.html"><li>Vrijstaande woning</li></a>
<a targ="Type/Quadhouse" href="Kwadranthuizen-Costa-Blanca-Zuid-0.html"><li>kwadranthuis (4 onder een dak)</li></a>
<a targ="Type/Fincas" href="Fincas-en-landhuizen-Costa-Blanca-Zuid-0.html"><li>Fincas en landhuizen</li></a>
<a targ="Type/Beachfront" href="Eigendom-aan-het-strand-Costa-Blanca-Zuid-0.html"><li>Zicht op zee</li></a>
<a targ="Type/Golf" href="Eigendom-aan-de-golf-Costa-Blanca-Zuid-0.html"><li>Huis op de golf</li></a>
<a targ="Type/business" href="Commerciele-panden-Costa-Blanca-Zuid-0.html"><li>Commercieel vastgoed</li></a>
<a targ="Type/KeyReady" href="nieuwbouw-costa-blanca-zuid-0.html"><li>nieuwbouw</li></a>
<a targ="Type/Penthouse" href="Penthouse-dakappartement-costa-blanca-zuid-0.html"><li>Penthouse/dakappartement</li></a>
<a targ="Type/Luxury" href="Luxe-eigendom-te-koop-Costa-Costa-Blanca-Zuid-0.html"><li>Luxehuizen</li></a>
</ul>
<p class="h5">Zoeken op plaatsnaam</p>
<ul>
<a targ="popular/top6" href="index.html"><li>Speciale aanbiedingen</li></a>
<a targ="popular/OrihuelaCosta" href="Eigendom-te-koop-in-Orihuela-Costa-Costa-Blanca-Zuid-0.html"><li>Orihuela Costa</li></a>
<a targ="popular/Villamartin" href="Eigendom-te-koop-in-Villamartin-Costa-Blanca-Zuid-0.html"><li>Villamartin</li></a>
<a targ="popular/PlayaFlamenca" href="Eigendom-te-koop-in-Playa-Flamenca-Costa-Blanca-Zuid-0.html"><li>Playa Flamenca</li></a>
<a targ="popular/CaboRiog" href="Eigendom-te-koop-in-Cabo-Roig-Costa-Blanca-Zuid-0.html"><li>Cabo Roig</li></a>
<a targ="popular/Guardamar" href="Eigendom-te-koop-in-Guardamar-del-Segura-Costa-Blanca-Zuid-0.html"><li>Guardamar del Segura</li></a>
<a targ="popular/Quesada" href="Eigendom-te-koop-in-Quesada-Costa-Blanca-Zuid-0.html"><li>Ciudad Quesada</li></a>
<a targ="popular/LaZenia" href="Eigendom-te-koop-in-La-Zenia-Costa-Blanca-Zuid-0.html"><li>La Zenia</li></a>
<a targ="popular/LosBalcones" href="Eigendom-te-koop-in-Los-Balcones-Costa-Blanca-Zuid-0.html"><li>Los Balcones</li></a>
<a targ="popular/PuntaPrima" href="Eigendom-te-koop-in-Punta-Prima-Costa-Blanca-Zuid-0.html"><li>Punta Prima</li></a>
</ul>
</div>
</div>


</div>
<div class="col-md-3" id="sidebar">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="title_acts_as_h3">
        Contact MaxGoldHouse
      </span>
    </h3>
  </div>
  <div class="panel-body">
  <p class="weneed">
  Heeft u onroerend goed verkopen?<br/>
  Wij zijn dringend op zoek naar goede woningen voor contant geld kopers.
  </p>
<div class="contact-text"><b>Sales Director</b><br/>Monica Steiger<br/> <a href="mailto:monica@maxgoldhouse.com">monica@maxgoldhouse.com</a><br/><img class="tight" src="img/handy.jpg"> +34 649 867 518</div>
<div class="contact-text"><b>Administrative Director</b><br/>Manfred Ohl<br/><a href="mailto:manfred@maxgoldhouse.com">manfred@maxgoldhouse.com</a><br/><img class="tight" src="img/handy.jpg"> +34 608 826 850 </div>
<div class="contact-text"><b>Vertegenwoordiger Nederlandstalige klanten</b><br/>Ellen Van den Broek<br/><a href="mailto:ellen@maxgoldhouse.com">ellen@maxgoldhouse.com</a><br/><img class="tight" src="img/handy.jpg"> +34 693 039 836 </div>
<div class="contact-text"><b>Kantoor</b> <br/>Centro Comercial Rioja No. 45 - Villamartin Golf<br/>Calle Magallanes / Op de hoek met Calle Manuel de Falla s/n <br/>03189 Orihuela  (Alicante)<br/><img class="tight" src="img/phone.jpg">: +34 966 765 497<br/>
<a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?ll=37.93819,-0.753486&iwloc=0004d407c9d5045bb72fc&msa=0&spn=0.014622,0.027874&mid=zXjUEAzLh6Lk.kiblnLb9tKe8"><img src="//lh4.googleusercontent.com/-jLG-LJ7kFm4/UQFavzTfm3I/AAAAAAAAFCQ/Z_26eqEyAd0/s40/showmap.jpg" style="border:none;padding:0px;margin:0px;" title="See office location on Google maps"></a>
</div>
</div>
</div>
<div id="monbuts"></div>
</div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-140979-10', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>
</body>
</html>
