* { box-sizing: border-box; }
html { font-family: sans-serif; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body { margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }
.navbar-fixed-bottom, .navbar-fixed-top { position: fixed; right: 0px; left: 0px; z-index: 1030; border-radius: 0px; }
.navbar-fixed-top { top: 0px; border-width: 0px 0px 1px; }
.navbar-inverse { border-color: rgb(52, 12, 145); background-color: rgb(52, 12, 145); background-image: linear-gradient(rgb(52, 12, 145) 0%, rgb(52, 12, 145) 100%); background-repeat: repeat-x; }
.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top { border-radius: 0px; }
.navbar-header { float: left; }
button, input, optgroup, select, textarea { margin: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; border: 1px solid transparent; border-radius: 4px; background-image: none; background-color: transparent; display: none; }
.navbar-inverse .navbar-toggle { border-color: rgb(52, 12, 145); }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
a { background-color: transparent; color: rgb(51, 122, 183); text-decoration: none; }
.navbar-brand { float: left; height: 50px; padding: 0px; font-size: 18px; line-height: 20px; }
.navbar-brand, .navbar-nav > li > a { text-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px; }
.navbar-inverse .navbar-brand { color: rgb(157, 157, 157); }
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a { text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px; }
img { border: 0px; vertical-align: middle; }
.navbar-brand > img { display: block; }
.collapse { display: none; visibility: hidden; }
.navbar-collapse { padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top-width: 0px; border-top-style: solid; border-top-color: transparent; -webkit-box-shadow: none; box-shadow: none; width: auto; }
.navbar-collapse.collapse { padding-bottom: 0px; display: block !important; height: auto !important; overflow: visible !important; visibility: visible !important; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse { padding-right: 0px; padding-left: 0px; }
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 340px; }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: none; }
.navbar-nav { margin: 0px; float: left; }
.navbar-left { float: left !important; }
.nav > li { position: relative; display: block; }
.navbar-nav > li { float: left; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; line-height: 20px; }
.navbar-inverse .navbar-nav > li > a { color: rgb(240, 174, 81); }
.navbar-right { margin-right: -15px; float: right !important; }
.navbar-nav.navbar-right:last-child.lingo { margin-right: 8px; }
.nav > li > a > img { max-width: none; }
.row { margin-right: -15px; margin-left: -15px; }
div#container { margin-top: 60px; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 { float: left; }
.col-md-6 { width: 50%; }
.col-md-push-3 { left: 25%; }
h1 { margin: 0.67em 0px; font-size: 2em; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h6, h6 { font-size: 12px; }
.col-md-3 { width: 25%; }
.col-md-pull-6 { right: 50%; }
.panel { margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; -webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px; box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 2px; background-color: rgb(255, 255, 255); }
.panel-default { border-color: rgb(221, 221, 221); }
.panel-heading { padding: 10px 15px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: transparent; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-default > .panel-heading { color: rgb(51, 51, 51); border-color: rgb(221, 221, 221); background-color: rgb(245, 245, 245); background-image: linear-gradient(rgb(245, 245, 245) 0px, rgb(232, 232, 232) 100%); background-repeat: repeat-x; }
.h3, h3 { font-size: 24px; }
.panel-title { margin-top: 0px; margin-bottom: 0px; font-size: 16px; color: inherit; }
.panel-body { padding: 15px; }
.h5, h5 { font-size: 14px; }
p { margin: 0px 0px 10px; }
.weneed { width: 90%; margin-bottom: 20px; border-top-width: 5px; border-top-style: solid; border-top-color: rgb(225, 181, 70); border-bottom-width: 5px; border-bottom-style: solid; border-bottom-color: rgb(225, 181, 70); padding: 6px; color: red; }
b, strong { font-weight: 700; }
